In [1]:
lst = ['one', 'two', 'three', 'four']
lst1=[1,2,3,4]
lst2=[1,2,4.5,7]
print(lst)
print(lst1)
print(lst2)

['one', 'two', 'three', 'four']
[1, 2, 3, 4]
[1, 2, 4.5, 7]

In [ ]:
lst = ['one', 'two', 'three', 'four']
lst1=[1,2,3,4,5,6]
lst2=[1,2,4.5,7,5]
print(len(lst))
print(len(lst1))
print(len(lst2))

In [5]:
lst = ['one', 'two', 'three', 'four']
lst.append('five')
print(lst)

['one', 'two', 'three', 'four', 'five']

In [7]:
lst = ['one', 'two', 'three', 'four','five']
lst.insert(2,'five')
print(lst)

['one', 'two', 'five', 'three', 'four', 'five']

In [10]:
lst = ['one', 'two', 'three', 'four','five']
lst.insert(2,'five')
print(lst)
lst.remove('five')
print(lst)

['one', 'two', 'five', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five']

In [11]:
lst = ['one', 'two', 'three', 'four']
lst1=[1,2,3,4,5,6]
lst.append(lst2)
print(lst)

['one', 'two', 'three', 'four', [1, 2, 4.5, 7, 5]]

In [12]:
lst = ['one', 'two', 'three', 'four']
lst1=[1,2,3,4,5,6]
lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', 1, 2, 4.5, 7, 5]

In [44]:
lst = ['one', 'two', 'three', 'four']
lst1=[1,2,3,4,5,6]
lst2=lst+lst1
print(lst2)

['one', 'two', 'three', 'four', 1, 2, 3, 4, 5, 6]

TypeError: '<' not supported between instances of 'int' and 'str'

In [22]:
lst = ['one', 'two', 'three', 'four']
lst1=[1,2,3,4,5,6]
del lst[0]
print(lst)

['two', 'three', 'four']

In [14]:
lst = ['one', 'two', 'three', 'four']
lst1=[1,2,3,4,5,6]

print(lst.pop(1))
print (lst)

two
['one', 'three', 'four']

In [17]:

lst1=[1,2,3,4,5,6]
print(lst1.remove(1))
print (lst)

None
['one', 'two', 'three', 'four']

In [18]:
if 2 in lst1:
    print("2 inlist")

2 inlist

In [21]:
if 7 not in lst1:
    print("not inlist")

not inlist

In [23]:
lst1.reverse()
print(lst1)

[6, 5, 4, 3, 2, 1]

In [25]:
lst=[34,65,74,90,12,3]
sort_list=sorted(lst)
print(lst)
print(sort_list)

[34, 65, 74, 90, 12, 3]
[3, 12, 34, 65, 74, 90]

In [26]:
lst=[34,65,74,90,12,3]
sort_list=sorted(lst,reverse=True)
print(lst)
print(sort_list)

[34, 65, 74, 90, 12, 3]
[90, 74, 65, 34, 12, 3]

In [29]:
lst=[34,65,74,90,12,3]
lst.sort()
print(lst)
print(id(lst))

[3, 12, 34, 65, 74, 90]
1784075737672

In [31]:
lst=[34,65,74,90,12,3]
abc=lst
lst.sort()
print(abc)
print(id(lst))
print(id(abc))

[3, 12, 34, 65, 74, 90]
1784094321928
1784094321928

In [33]:
s="dileep vadlamudi ganesh bondla"
slist=s.split('e')
print(slist)

['dil', '', 'p vadlamudi gan', 'sh bondla']

In [36]:
a=1;b=2;c=3;lst=[a,b,c]
print(lst)

[1, 2, 3]

In [37]:
lst=[34,65,74,90,12,3]
print(lst[-2])

12

In [38]:
lst=[34,65,74,90,12,3]
print(lst[:])

[34, 65, 74, 90, 12, 3]

In [41]:
lst=[34,65,74,90,12,3]
print(lst[1:5:2])

[65, 90]

In [50]:
ls=[1,1,1,1,1,1,3,3,3,3,3,3,2,4]
ls.count(3)

6

In [51]:
for i in ls:
    print(i)

1
1
1
1
1
1
3
3
3
3
3
3
2
4

In [52]:
squares=[]
for i in range(10):
    squares.append(i**2)
    print(squares)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
squares=[i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
squares=[i**2 for i in range(10) if i>0]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
squares=[(i,i**2) for i in range(10) if i>0]
print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [59]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [60]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)  ]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [1]:
lst=[1,2,3,4]
print(min(lst))

1

In [2]:
print(max(lst))

4

In [3]:
print(sum(lst))

10