In [1]:
import pandas as pd
df = pd.read_csv("weather_data.csv")   #read weather.csv data
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
weather=[('1/1/2017', 32, 6, 'Rain'),
            ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny'),('1/1/2017', 32, 6, 'Rain'),
            ('1/2/2017', 3, 7, 'Sunny'),
                ('1/3/2017', 2, 2, 'Snow'),
                ('1/4/2017', 2, 7, 'Snow'),
                ('1/5/2017', 3, 4, 'Rain'),
                ('1/6/2017', 3, 2, 'Sunny')]

In [8]:
df = pd.DataFrame(weather, columns=['day', 'temperature', 'windspeed', 'event'])
df

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   1/2/2017           35          7  Sunny
2   1/3/2017           28          2   Snow
3   1/4/2017           24          7   Snow
4   1/5/2017           32          4   Rain
5   1/6/2017           31          2  Sunny
6   1/1/2017           32          6   Rain
7   1/2/2017            3          7  Sunny
8   1/3/2017            2          2   Snow
9   1/4/2017            2          7   Snow
10  1/5/2017            3          4   Rain
11  1/6/2017            3          2  Sunny

In [5]:
df.shape

(6, 4)

In [9]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [10]:
df.tail()

         day  temperature  windspeed  event
7   1/2/2017            3          7  Sunny
8   1/3/2017            2          2   Snow
9   1/4/2017            2          7   Snow
10  1/5/2017            3          4   Rain
11  1/6/2017            3          2  Sunny

In [11]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [15]:
df.day

0     1/1/2017
1     1/2/2017
2     1/3/2017
3     1/4/2017
4     1/5/2017
5     1/6/2017
6     1/1/2017
7     1/2/2017
8     1/3/2017
9     1/4/2017
10    1/5/2017
11    1/6/2017
Name: day, dtype: object

In [16]:
df[['day', 'event']]

         day  event
0   1/1/2017   Rain
1   1/2/2017  Sunny
2   1/3/2017   Snow
3   1/4/2017   Snow
4   1/5/2017   Rain
5   1/6/2017  Sunny
6   1/1/2017   Rain
7   1/2/2017  Sunny
8   1/3/2017   Snow
9   1/4/2017   Snow
10  1/5/2017   Rain
11  1/6/2017  Sunny

In [17]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [18]:
df.day[df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object