In [1]:
t=(1,2,3)
print(t)

(1, 2, 3)

In [6]:
t=(1,(1,2,3),[1,2,2,2])
print(t)

(1, (1, 2, 3), [1, 2, 2, 2])

In [7]:
print(t[2][2])

2

In [8]:
t=("string")
print(type(t))

<class 'str'>

In [9]:
t=("string",)
print(type(t))

<class 'tuple'>

In [10]:
t=(1,2,3,45.5,45,85)
print(t[1:5:2])

(2, 45.5)

In [12]:
t=(1,2,3,45.5,45,85)
print(t[1:-1:2])

(2, 45.5)

In [13]:
t[1]=2

TypeError: 'tuple' object does not support item assignment

In [18]:
t=(1,2,3);t1=((1,)*4)
t2=t+t1
print(t2)

(1, 2, 3, 1, 1, 1, 1)

In [19]:
del t

In [22]:
t=(1,2,3)
t1=sorted(t)
print(t)

(1, 2, 3)

In [23]:
print(t.index(3))

2

In [24]:
print(t.count(2))

1

In [25]:
print(1 in t)

True

In [26]:
print(max(t))

3

In [27]:
print(min(t))

1

In [29]:
print(sum(t))

6